@import './derby_variables.scss';

.derby-custom-button {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: white;
}

.derby-custom-button:hover,
.derby-custom-button:focus {
  background-color: transparent !important;
  color: $primary-color;
}

.derby-input-field:focus {
  background-image: linear-gradient(
    to top,
    $secondary-color,
    $secondary-color 2px,
    transparent 2px,
    transparent 100%
  ) !important;
}

.derby-row label.euiFormLabel-isFocused {
  color: $secondary-color !important;
}

.derby-logo {
  display: flex;
  align-items: center;
  font-weight: 600 !important;
}

.derby-logo:focus {
  outline: none !important;
}

.derby-logo img {
  padding: 4px;
}

.derby-logo span {
  font-weight: 500;
}

.derbyLoginWelcome__title {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.derbyLoginWelcome__subtitle {
  font-weight: 300;
}
